body {
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Borel", cursive;
  font-family: "Caveat", cursive;
  font-family: "Dongle", sans-serif;
  font-family: "Indie Flower", cursive;
  font-family: "Noto Sans Arabic", sans-serif;
  font-family: "Rubik", sans-serif;
}
header {
  width: 100%;
  top: 0;
  right: 0;
  /* z-index: 1000; */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  flex-direction: row;
  justify-content: space-around;
  background: #ffff;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  /* padding: 15px 10%; */
  /* transition: 0.2s; */
}
.logoPage {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  width: 10%;
}
.logo {
  img {
    justify-content: flex-start;
    /* width:10px; */
    width: 100px;
    margin: 5px;
    align-items: center;
  }
}
.navPage {
  width: 60%;
  padding: 0 0;
  align-items: center;
  /* background-color: aquamarine; */
  nav ul {
    display: flex;
    align-items: center;

    height: 100%;
    list-style: armenian;
    margin-top: 0;
    margin-bottom: 0;
  }

  nav ul li {
    display: flex;
    /* background-color: #9fc300; */
    /* display: inline;   */
    align-items: center;
    margin-right: 20px;
    height: 70px;
  }

  nav ul li a {
    text-transform: uppercase;
    align-items: center;
    text-decoration: none; /* Remove underline */
    color: inherit;
    font-weight: bolder;
    font-size: small;
    margin: 5px;
    /* border-bottom: 1px solid transparent; Add a transparent bottom border */
  }
  .hovered {
    border-bottom: 5px solid rgb(1, 47, 15); /* Add a transparent bottom border */
  }
}

.right-options {
  display: flex;
  font-size: medium;
  font-weight: bolder;
  justify-content: space-between;
  width: 25%;
  align-items: center;
  /* background-color: #9fc300; */
}
.right-options button {
  display: flex;
  font-weight: bolder;
  /* background-color: #ff0000; */
  justify-content: end;
  text-decoration: none;
  margin: 3px;
  border: 1px solid black;
  border-radius: 20px; /* This will make the top corners rounded */
  cursor: pointer;
  padding: 6px 15px;
}
.right-options button:nth-child(3) {
  background-color: black;
  color: beige;
}
.right-options button:nth-child(2):hover {
  background-color: rgb(173, 172, 172);
}
.right-options button:nth-child(3):hover {
  background-color: rgb(81, 79, 79);
}

.first {
  position: relative; /* Initially positioned relative to its parent */
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #1e3932;
}
.first.fixed {
  position: fixed; /* Position becomes fixed when scrolled */
  top: 0px; /* Adjust top value for fixed position */
  z-index: 999; /* Ensure it's above other content */
}
.first span {
  margin-left: 180px;
  color: white;
  font-weight: bolder;
  /* background-color: rgb(212, 233, 226); */
  /* background-image: url("/weblx/images/rewards/hero/xl-hero-desktop_2021.png"); */
}
.second {
  display: flex !important;
  position: relative;
  /* justify-content: flex-start; */
  /* margin: 4px; */
  background-color: #d4e9e2;
  /* width: 100%; */
  height: 464px;
}
.second-intro {
  /* background-color: #1de6b1; */
  height: fit-content;
  width: max-content;
  margin-left: 200px;
  width: 200px;
  padding: 50px;
}
.second-intro- > h1 {
  font-size: larger;
}
.second-intro button {
  display: flex;
  font-weight: bolder;
  background-color: #00754a;
  justify-content: end;
  text-decoration: none;
  margin: 3px;
  border: none;
  border-radius: 20px; /* This will make the top corners rounded */
  cursor: pointer;
  padding: 6px 15px;
}
.second img {
  /* margin-right: 200px; */
  width: 1200px;
  height: 463px;
  position: absolute;
  left: 40px;
  /* top: px; */


}
.third {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(21, 118, 203); */
  align-items: center;
  justify-content: center;
}
.third h1 {
  align-self: center;
}

.third .componant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 12px;
  /* background-color: #00754a; */
}
.third .componant div {
  display: flex;
/* background-color: #1e3932; */
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  color: black;
  width: 200px;
  height: 240px;
  align-items: center;
}
.content-third{
  height: 25px;
  display:flex ;
  padding: 0;
  /* background-color: #d4e9e2; */
}
.third .componant div button {
  border: 1.5px solid #00754a;
  border-radius: 50%;
  padding: 15px;
  font-weight: bold;
  font-size: larger;
  color: #00754a;
  background-color: white;
}
/* fourth */
.fourth {
  background-color: #f1f8f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 100%;
}

.fourth .star {
  display: flex;
  font-weight: bold;
  font-size: x-large;
  /* justify-content: space-between; */
  padding: 30px;
}
.fourth .content {
  display: flex;
  flex-direction: row;
  background-color: #d4e9e2;
  width: 100%;
  /* margin-bottom: 0; */
  /* align-items: center; */
  justify-content: center;
}
.content img {
  max-width: 400px;
  max-height: 400px;
}
.content div:nth-child(2) {
  /* background-color: #00754a; */
  max-width: 300px;
  padding: 12px;
  font-size: large;
}

/* popup */
/* .popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
/* fifth */
.fifth {
  display: flex;
  flex-direction: column;
  /* background-color: #1e3932; */
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ffffff;
}
.fifth .title-fifth {
  display: contents;
}
.title-fifth span {
  margin-bottom: 50px;
}
.content-fifth {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.content-fifth img {
  max-width: 120px;
  max-height: 120px;
}
.content-fifth div {
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly; */
  align-items: center;
  /* background-color: #00754a; */
  width: 300px;
}
.content-fifth span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.green-link {
  color: #00754a;
}
/* sexth */
.sexth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  background-color: rgb(232, 234, 233);
}
.sexth .title-sexth {
  width: 500px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sexth .sexth-content {
  /* background-color: #00754a; */
  display: flex;
  padding: 40px;
  width: 100%;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
}
.sexth-content .content-type {
  display: flex;
  flex-direction: row;
}
.content-type div {
  /* background-color: #1e3932; */
  max-width: 200px;
  padding-left: 30px;
  padding-top: 0px;
}
.sexth-content img {
  max-width: 200px;
  max-height: 200px;
}
hr {
  color: #666a68;
  width: 1100px;
}

.seventh {
  display: flex;
  flex-direction: row;
  background-image: url(../greenBG.webp);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.seventh .info {
  background-color: #d4e9e2;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.star-seventh {
  width: 30%;
}
.deltaImg {
  width: 60%;
}
.seventh-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 30px;
  /* margin:5px; */
  margin-top: 60px;
}
.seventh-content img {
  margin: 20px;
}
.seventh-content button {
  background-color: #00754a;
  margin-top: 25px;
  width: 60%;
  padding: 10px;
  color: white;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 30px;
}
.eight {
  background-color: white;
  padding: 100px;
}
.ninth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: #f9f9f9;
  width: 100%;
}
.ninth-content {
  display: flex;
  flex-direction: row;
}
.ninth-content :nth-child(1) {
  width: 600px;
  /* margin: 4px; */
  /* background-color: #00754a; */
}
.ten {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}
.ten div {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ten h2 {
  font-size: medium;
}
.ten span {
  color: #666a68;
}
